<!-- nav-bar -->
<div class="navbar" role="banner">
  <a routerLink='/'>
    <div >
      <img class="circlenav"
        width="43"
        alt="falcon Logo"
        src="https://img.icons8.com/windows/48/000000/falcon.png"
      />
    </div> </a>
    <span class="cortitle"> <h1>SUNASAD</h1></span>   
 
      <div class="spacer"></div>
      <nav>
      <button routerLink='/mat-ui' routerLinkActive="active"  class="btn btn-primary ">Material-UI</button>
      <button routerLink='/template-driven-form' routerLinkActive="active"  class="btn btn-primary ml-5">TemplateDrivenFORM</button>
      <button routerLink='/reactive-form' routerLinkActive="active" class="btn btn-primary ml-5">ReactiveFORM</button>
      </nav>
  </div>

  